/*
 * Developed as part of the Cramolith project.
 * This file was last modified at 2/6/21, 6:06 PM.
 * Copyright 2021, see git repository at git.angm.xyz for authors and other info.
 * This file is under the GPL3 license. See LICENSE in the root directory of this repository for details.
 */


ul {
    width: 100%;
    text-align: left;
    float: left;
}

span.name {
    font-weight: bold;
}

a.link {
    padding: 0;
    color: black;
}