/*
 * Developed as part of the Cramolith project.
 * This file was last modified at 2/6/21, 6:05 PM.
 * Copyright 2021, see git repository at git.angm.xyz for authors and other info.
 * This file is under the GPL3 license. See LICENSE in the root directory of this repository for details.
 */

:root {
    --light-blue: #CFDAF0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color: var(--light-blue);
    margin: 0;
    overflow: hidden;
}

header {
    font-weight: 300;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

nav {
    background-color: #333;
    width: 100%;
    overflow: auto;
    text-align: center;
    font-size: 17px;
}

a {
    float: left;
    text-decoration: none;
    padding: 14px 16px;
    color: #f2f2f2;
}
    /*
    *a:hover {
    *       color: red;
    *}
    */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
}
