/*
 * Developed as part of the Cramolith project.
 * This file was last modified at 2/4/21, 12:43 PM.
 * Copyright 2021, see git repository at git.angm.xyz for authors and other info.
 * This file is under the GPL3 license. See LICENSE in the root directory of this repository for details.
 */



.overlay {
    width: 80%;
    min-width: 30%;
    margin: 3% auto;
    display: block;
    padding: 2%;
    height: 90vh;
    border-radius: 40px;
    text-align: center;
}
header{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color: aqua;
}
.registration{
    font-size: large;
}